<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body class="container">


<div class="container">
    <form class="form-horizontal" role="form" method="POST" th:action="@{/admin/create}" th:object="${user}">
        <div class="row">
            <div class="col-md-3 "></div>
            <div class="col-md-6">
                <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center">
                <h2>Register New User</h2>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="firstName">First Name</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" th:field="*{firstName}" class="form-control" id="firstName"
                               placeholder="First Name" required autofocus>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="lastName">Last Name</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" th:field="*{lastName}" class="form-control" id="lastName"
                               placeholder="Last name" required autofocus>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="email">Email</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" th:field="*{email}" class="form-control" id="email"
                               placeholder="username@email.com" required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                         <span class="text-danger align-middle" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                         </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" th:field="*{password}" class="form-control" id="password"
                               placeholder="Password" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                         <span class="text-danger align-middle" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                         </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-3 text-right">
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>-->

<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="76x76"
	href="../assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="../assets/img/favicon.png">
<title>Material Dashboard 2 by Creative Tim</title>
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
<!-- Nucleo Icons -->
<link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
<link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js"
	crossorigin="anonymous"></script>
<!-- Material Icons -->
<link
	href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
	rel="stylesheet">
<!-- CSS Files -->
<link rel="stylesheet" th:href="@{/css/material-dashboard.css}">
<link id="pagestyle" th:href="@{/css/material-dashboard.css?v=3.0.4}"
	rel="stylesheet" />

</head>

<main class="main-content  mt-0">
	<section>
		<div class="page-header min-vh-100">
			<div class="container">
				<div class="row">
					<div
						class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
						<div
							class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
							<img alt="" th:src="@{/img/illustration-signup.jpg}">
						</div>
					</div>
					<div
						class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
						<div class="card card-plain">
							<div class="card-header">
								<h4 class="font-weight-bolder">Inscription</h4>
								<p class="mb-0">Enter your email and password to register</p>
							</div>
							<div class="card-body">
								<form role="form" method="POST" th:action="@{/admin/create}"
									th:object="${user}">
									<div class="input-group input-group-outline mb-3">
										<label class="form-label"></label> <input placeholder="Prénom"
											type="text" th:field="*{firstName}" class="form-control"
											id="firstName">
									</div>
									<div class="input-group input-group-outline mb-3">
										<label class="form-label"></label> <input placeholder="Nom"
											type="text" th:field="*{lastName}" class="form-control"
											id="lastName">
									</div>
									<div class="input-group input-group-outline mb-3">
										<label class="form-label"></label> <input placeholder="Email"
											type="text" th:field="*{email}" class="form-control"
											id="email" required="required">
									</div>
									<div class="form-control-feedback">
										<span class="text-danger align-middle"
											th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
										</span>
									</div>
									<div class="input-group input-group-outline mb-3">
										<label class="form-label"></label> <input
											placeholder="Password" type="password" th:field="*{password}"
											class="form-control" id="password" required="required">
									</div>
									<div class="form-control-feedback">
										<span class="text-danger align-middle"
											th:if="${#fields.hasErrors('password')}"
											th:errors="*{password}"> </span>
									</div>
									<div class="text-center">
										<button type="submit"
											class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign
											Up</button>
									</div>
								</form>
							</div>
							<div class="card-footer text-center pt-0 px-lg-2 px-1">
								<p class="mb-2 text-sm mx-auto">
									Already have an account? <a href="../login"
										class="text-primary text-gradient font-weight-bold">Sign
										in</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
</body>

</html>