<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: head"></head>

<body class="container">

	<nav th:replace="fragments :: navigation"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2 justify-content-md-start"
				th:each="role : ${loggedInUser.roles}"
				th:if="${role.role} == 'SUPPORT'">
				<h5 class="text-left">Quick Links</h5>
				<ul class="list-group">
					<li class="list-group-item"><a href="/ticket/new">Open a
							Ticket</a></li>
					<li class="list-group-item"><a href="/ticket/">Your
							Tickets</a></li>
					<li class="list-group-item"><a href="/ticket/all">All
							Tickets</a></li>
					<li class="list-group-item">Closed Tickets</li>
				</ul>
			</div>
			<div class="col-md-8" th:each="role : ${loggedInUser.roles}"
				th:if="${role.role} == 'SUPPORT'">
				<h4>Open Tickets</h4>
				<table class="table table-sm table-striped">
					<thead class="thead-dark">
						<tr>
							<th class="text-center" scope="col">#</th>
							<th scope="col">Stage</th>
							<th scope="col">Updated</th>
							<th scope="col">Title</th>
						</tr>
					</thead>
					<tbody>
						<div th:each="ticket : ${openTickets}"
							th:if="${ticket.assignedTo != null} and ${ticket.getAssignedTo().id == loggedInUser.getId()}">
							<tr>
								<th class="text-center" scope="row"><a
									th:text="${ticket.id}" th:href="@{'/ticket/'+${ticket.id}}"></a>
								</th>
								<td th:text="${ticket.stage.name}"></td>
								<td
									th:text="${#dates.format(ticket.lastUpdated, 'M/dd/yy h:mm a')}">Not
									Updated</td>
								<td th:text="${ticket.title}"></td>
							</tr>
						</div>
					</tbody>
				</table>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>

</body>
</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: head"></head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="76x76"
	href="../assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="../assets/img/favicon.png">
<title>El Malick </title>
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
<!-- Nucleo Icons -->
<link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
<link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js"
	crossorigin="anonymous"></script>
<!-- Material Icons -->
<link
	href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
	rel="stylesheet">
<!-- CSS Files -->
<link id="pagestyle" th:href="@{/css/material-dashboard.css?v=3.0.4}"
	rel="stylesheet" />
</head>

<body class="g-sidenav-show  bg-gray-200">
  <nav th:replace="fragments :: navigation"></nav>

	<aside th:each="role : ${loggedInUser.roles}"
        th:if="${role.role} == 'SUPPORT'"
		class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
		id="sidenav-main">
		<div class="sidenav-header">
			<i
				class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
				aria-hidden="true" id="iconSidenav"></i> <a class="navbar-brand m-0"
				href="/ticket/all"> <span
				class="ms-1 font-weight-bold text-white">Quick Link</span>
			</a>
		</div>
		<hr class="horizontal light mt-0 mb-2">
		<div class="collapse navbar-collapse  w-auto "
			id="sidenav-collapse-main">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link text-white "
					href="/ticket/new">
						<div
							class="text-white text-center me-2 d-flex align-items-center justify-content-center">
							<i class="material-icons opacity-10">dashboard</i>
						</div> <span class="nav-link-text ms-1">Ouvrir un ticket</span>
				</a></li>
				<li class="nav-item"><a
					class="nav-link text-white active bg-gradient-primary"
					href="/ticket/">
						<div
							class="text-white text-center me-2 d-flex align-items-center justify-content-center">
							<i class="material-icons opacity-10">table_view</i>
						</div> <span class="nav-link-text ms-1">Vos tickets</span>
				</a></li>
				<li class="nav-item"><a class="nav-link text-white "
					href="/ticket/all">
						<div
							class="text-white text-center me-2 d-flex align-items-center justify-content-center">
							<i class="material-icons opacity-10">receipt_long</i>
						</div> <span class="nav-link-text ms-1">Tous les tickets</span>
				</a></li>

			</ul>
		</div>
	</aside>
	<main
		class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
		<!-- Navbar -->
		<!-- End Navbar -->
		<div class="container-fluid py-4">
			<div class="row">
				<div class="col-12">
					<div class="card my-4">
						<div
							class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
							<div
								class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
								<h6 class="text-white text-capitalize ps-3">Mes tickets</h6>
							</div>
						</div>
						<div class="card-body px-0 pb-2">
							<div class="table-responsive p-0">
								<table class="table align-items-center mb-0">
									<thead>
						
										<tr>
											<th
												class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#ID</th>
											<th
												class="text-center ext-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Stage</th>
											<th
												class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Update</th>
											<th
												class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Titre</th>
											<!-- <th class=" text-center text-secondary opacity-7"></th> -->
										</tr>
										
									</thead>
									<tbody>
									
									<div th:each="ticket : ${openTickets}"
							th:if="${ticket.getCreatedBy().id == loggedInUser.getId()}">
										<tr>
											<th class="text-center" scope="row"><a th:text="${ticket.id}" th:href="@{'/ticket/'+${ticket.id}}"></a>
											</th>
											<td class="text-center" th:text="${ticket.stage.name}"></td>
											<td class="text-center" th:text="${#dates.format(ticket.lastUpdated, 'M/dd/yy h:mm a')}">Not Updated</td>
											<td  class="text-center" th:text="${ticket.title}">null</td>
										</tr>
										</div>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>
</body>

</html>