<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head"></head>

<body class="container">

	<nav th:replace="fragments :: navigation"></nav>

	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Ticket</th>
						<th scope="col">Ticket Title</th>
						<th scope="col">Date Opened</th>
						<th scope="col">Last Updated</th>
						<th scope="col">Assigned To</th>
						<th scope="col">Stage</th>
					</tr>
				</thead>
				<tr th:each="ticket : ${openTickets}"
					th:if="${ticket.getCreatedBy().id == loggedInUser.getId()}">
					<td th:each="role : ${loggedInUser.roles}" th:if="${role.role} == 'USER'"><a th:text="${ticket.id}"
						th:href="@{'/ticket/'+${ticket.id}}"></a></td>
					<td th:text="${ticket.title}"></td>
					<td th:text="${#dates.format(ticket.dateOpened, 'M/dd/yy h:mm a')}"></td>
					<td
						th:text="${#dates.format(ticket.lastUpdated, 'M/dd/yy h:mm a')}"></td>
					<td th:if="${ticket.assignedTo != null}"
						th:text="${ticket.assignedTo.firstName}+ ' ' +${ticket.assignedTo.lastName}">Unassigned</td>
					<td th:unless="${ticket.assignedTo != null}">Unassigned</td>
					<td th:text="${ticket.stage}"></td>
				</tr>
			</table>
		</div>
		<div class="col-1"></div>

	</div>
</body>
</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head"></head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Material Dashboard 2 by Creative Tim</title>
<!--     Fonts and icons     -->
<link rel="stylesheet" th:href="@{/css/material-dashboard.css}">
<link id="pagestyle" th:href="@{/css/material-dashboard.css?v=3.0.4}"
	rel="stylesheet" />
</head>

<body class="g-sidenav-show  bg-gray-200">
	<nav th:replace="fragments :: navigation"></nav>

	<main
		class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
		<!-- Navbar -->
		<!-- End Navbar -->
		<div class="container-fluid py-4">
			<div class="row">
				<div class="col-12">
					<div class="card my-4">
						<div
							class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
							<div
								class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
								<h6 class="text-white text-capitalize ps-3">Mes tickets</h6>
							</div>
						</div>
						<div class="card-body px-0 pb-2">
							<div class="table-responsive p-0">
								<table class="table align-items-center mb-0">
									<thead>
										<tr >
											<th
												class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Titre du ticket</th>
                      						<th
												class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Etat</th>
											<th
												class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Assigne a
												</th>
											<th
												class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Priorite</th>
											<th
												class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Departement
												</th>
											<th
												class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date de creation
												</th>
											<th
												class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Derniere modification
												</th>	
										</tr>
									</thead>
							
									<tbody>
									<div>
										<tr th:each="ticket : ${openTickets}" th:if="${ticket.getCreatedBy().id == loggedInUser.getId()}">
											<td th:text="${ticket.title}" class="text-center">></td>
                      						<td th:text="${ticket.stage}" class="text-center">></td>
                      						<td class="col-md-2 text-center"
												th:text="${ticket.assignedTo != null} ? ${ticket.assignedTo.email} : 'Unassigned'">Unassigned</td>
											<td th:text="${ticket.priorite}" class="text-center"></td>
											<td th:text="${ticket.departement}" class="text-center"></td>
											<td th:text="${ticket.dateOpened}" class="text-center"></td>
											<td th:text="${ticket.lastUpdated}" class="text-center"></td>
											<td th:if="${not loggedInUser.roles.?[role == 'ADMIN'].isEmpty()} OR ${not loggedInUser.roles.?[role == 'SUPPORT'].isEmpty()}" class="align-middle"><a th:href="@{'/ticket/'+${ticket.id}}"
												class="text-secondary font-weight-bold text-xs"
												data-toggle="tooltip" title="modifier le ticket">
													Modifier </a></td>
										</tr>
										</div>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</main>
</body>

</html>